<a href="@Url.Action("Leishmaniose", "Leishmaniose")" class=" links">
    <p class="yellow">Qu'est-ce que la leishmaniose ?</p>
    <img class="img-responsive" src="~/Content/theme/images/linkb_1.jpg" alt="phlébotome" />
</a>

<a href="@Url.Action("Leishmaniose2", "Leishmaniose")" class="links">
    <p class="yellow">Comment se transmet-elle ?</p>
    <img class="img-responsive" src="~/Content/theme/images/linkb_2.jpg" alt="maladie parasitaire" />
</a>

<a href="@Url.Action("Leishmaniose3", "Leishmaniose")" class="links">
    <p class="yellow">Où est-elle présente ?</p>
    <img class="img-responsive" src="~/Content/theme/images/linkb_3.jpg" alt="pourtour mediterraneen" />
</a>

<a href="@Url.Action("Leishmaniose4", "Leishmaniose")" class="links">
    <p class="yellow">Quels sont les signes cliniques ?</p>
    <img class="img-responsive" src="~/Content/theme/images/linkb_4.jpg" alt="signes cliniques" />
</a>

<a href="@Url.Action("Leishmaniose5", "Leishmaniose")" class="links">
    <p class="yellow">Comment la traiter ?</p>
    <img class="img-responsive" src="~/Content/theme/images/linkb_5.jpg" alt="traitement leishmaniose" />
</a>

<a href="@Url.Action("Leishmaniose6", "Leishmaniose")" class="links">
    <p class="yellow">Comment protéger votre chien ?</p>
    <img class="img-responsive" src="~/Content/theme/images/linkb_6.jpg" alt="Altın Dokunuş" />
</a>
